body{
	background: #fff;
	margin: 0;
	color: #0e0f20;
}

.navbar-wrapper{
	display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.6rem 0 1.6rem;
}

.navbar-logo a{
	color: #55198b;
	text-decoration: none;
}
.navbar-right{
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.navbar-item{
	padding-left: 1.6rem;
}

.navbar-item a{
	color: #55198b;
	text-decoration: none;
}

.navbar-item a:hover,
.navbar-item a:active{
	/*color: #fff;*/
}

.about{
	display: flex;
	align-items: center;
}

.greeting-container{
	padding: 1.6rem;
	display: flex;
	align-items: center;
}

.greeting-left{
	margin-right: 4rem;
}

.greeting-left h1{
	font-size: 3rem;
}


@keyframes wave {
	0%{
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	10%{
		transform: rotate(-10deg);
	}
	20%{
		transform: rotate(12deg);
	}
	30%{
		transform: rotate(-10deg);
	}
	40%{
		transform: rotate(9deg);
	}
	50%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(0deg);
	}
}

.wave-emoji{
	animation-duration: 1.8s;
	animation-name: wave;
	animation-iteration-count: infinite;
	display: inline-block;
}

.wave-emoji img{
	width: 3rem;
	height: 3rem;
}

.sub-heading{
	color: #868e96;
	line-height: 2rem;
	font-size: 1.6rem;
}

.social-web{
	margin-bottom: 2rem;
}
.icon-button{
	margin-bottom: 1rem;
}

.github i{
	background: #333;
}

.linkedin i{
	background: #0e76a8;
}

.mail i{
	background: #ea4335;
}

.icon-button i{
	color: #fff;
	border-radius: 50%;
	height: 2.6rem;
	width: 2.6rem;
	text-align: center;
	line-height: 2.6rem;
	font-size: 1.4rem;
	margin: 0rem 0.3rem 0.6rem 0.3rem;
}

.github i:hover,
.linkedin i:hover,
.mail i:hover{
	background: #000;
}

.contact-resume-div{
	display: flex;
}

.contact-resume-div button{
	padding: 0.8rem 1rem;
	background: #55198b;
	color: #fff;
	font-weight: bold;
	border-radius: .4rem;
	border: none;
	cursor: pointer;
	font-size: 1rem;
}

.contact-btn{
	margin-right: 3.6rem;
}

.contact-resume-div button:hover{
	background: #fff;
	color: #55198b;
	border: 0.1rem solid #55198b;
}

.user-profile{
	border: 0.4rem solid #55198b;
	border-radius: 50%;
	width: 15rem;
	height: 15rem;
	margin: 0 2rem;
}

.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right{
	0%{
		-webkit-transform: translate(100px);
		transform: translateX(100px);
		opacity: 0;
	}
	100%{
		-webkit-transform: translateX(0);
	    transform: translateX(0);
	    opacity: 1;
	}
}

@keyframes slide-up{
	0%{
		-webkit-transform: translateY(100px);
		transform: translateY(100px);
		opacity: 0;
	}
	100%{
		-webkit-transform: translateY(0);
	    transform: translateY(0);
	    opacity: 1;
	}
}

.scrolled.slide-left {
  animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slide-right{
	animation: slide-in-right 1s ease-in-out both;
}

.loaded.slide-up {
	animation: slide-up 1s ease-in-out both; 
}

