body {
  background: #fff;
  margin: 0;
  color: #0e0f20;
  overflow-x: hidden;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #8b9982;
}

input:focus + .slider {
  box-shadow: 0 0 1px #8b9982;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.dark-mode{
  background: black !important;
  color: white;
}

.dark-mode .navbar-right a{
  color: #636661;
}

.dark-mode-card{
  background: #8b9982 !important;
  box-shadow: none !important;
}

.dark-mode-card a{
  color: white !important;
}

.dark-mode-card h2 span{
  color: white !important;
}

.dark-mode-card .workexp-details > li{
  color: white;
}

.navbar-wrapper {
background-color: rgb(235, 226, 235);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.6rem; ;
  /* border: 1px solid transparent; */
  /* padding: 2rem 1.6rem 0 1.6rem; */
}
.navbar-wrapper, .navbar-fixed-top {

background-color: rgb(235, 226, 235);
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
	/* opacity: 0.5; */
}
.navbar-wrapper.navbar-shrink {
    transition: background-color .3s ease;
    background-color: #f3f5f8;
}

.navbar-logo a {
text-transform: uppercase;
  /* color: rgba(39, 35, 35, 0.5); */
  color: #636661;
  text-decoration: none;
  font-weight: bold;
  font-size: large;
}
.navbar-logo a:hover{
	color: #3DA35D;
}
.navbar-right {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.navbar-item {
  /*padding-left: 1.6rem;*/
  /*margin-left: 1.6rem;*/
}

/* .navbar-item a {
  color: #8b9982;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1.6rem;
} */
/* 
.navbar-item a:hover,
.navbar-item a:active {
  color: #fff;
  background: #8b9982;
  border-radius: 0.4rem;
} */

.about {
  display: flex;
  align-items: center;
}

.greeting-container {
  padding: 1.6rem;
  display: flex;
  align-items: center;
}
.js-load{
  margin-top: 6rem;
}
.greeting-left {
  margin-right: 4rem;
}

.greeting-left h1 {
  font-size: 3rem;
}

@keyframes wave {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.wave-emoji {
  animation-duration: 1.8s;
  animation-name: wave;
  animation-iteration-count: infinite;
  display: inline-block;
}

.wave-emoji img {
  width: 3rem;
  height: 3rem;
}

.sub-heading {
  color: #868e96;
  line-height: 2rem;
  font-size: 1.6rem;
}

.social-web {
  margin-bottom: 2rem;
}
.icon-button {
  margin-bottom: 1rem;
}

.github i {
  background: #333;
}

.linkedin i {
  background: #0e76a8;
}

.google i {
  background: #ea4335;
}

.icon-button i {
  color: #fff;
  border-radius: 50%;
  height: 2.6rem;
  width: 2.6rem;
  text-align: center;
  line-height: 2.6rem;
  font-size: 1.4rem;
  margin: 0rem 0.3rem 0.6rem 0.3rem;
}

.github i:hover,
.linkedin i:hover,
.google i:hover {
  background: #000;
}

.contact-resume-div {
  display: flex;
}

.contact-resume-div a {
  padding: 0.8rem 1rem;
  background: #8b9982;
  color: #fff;
  font-weight: bold;
  border-radius: 0.4rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border: 0.1rem solid transparent;
  text-decoration: none;
}

.contact-btn {
  margin-right: 3.6rem;
}

.contact-resume-div a:hover {
  background: #fff;
  color: #8b9982;
  border-color: #8b9982;
}

.greeting-right {
  margin-right: 6rem;
}

.user-profile {
  border: 0.4rem solid #8b9982;
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  margin: 0 5rem;
}
.skills-main-wrapper{
  /*margin-top: 10rem;*/
}
.skills-heading {
  font-size: 3rem;
  text-align: center;
}

.skills-wrapper {
  display: flex;
  align-items: center;
  padding: 0 1.6rem;
}

.skills-desc-listing {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skills-desc-item {
  color: #868e96;
  line-height: 2rem;
  font-size: 1.6rem;
}

.skills-tech-listing {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 3rem;
}

.skills-tech-item {
  display: inline-block;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.skills-tech-item > i {
  color: #868e96;
}
.skills-tech-item > p {
  font-size: 1rem;
  color: #868e96;
}

.skills-tech-item > i:hover,
.skills-tech-item > i:hover ~ p {
  color: #8b9982;
}

.workexp {
  padding: 1.6rem;
}

.workexp-wrapper{
  /*border: 2px solid red;*/
  padding: 1rem;
}

.workexp-item{
  /*border: 1px solid black;*/
  padding: 1rem;
  margin-bottom: 1rem;
}
.workexp-list {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  /*padding-top: 50px;*/
  background: #868e96;
}

.workexp-list::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 36px;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.workexp-list:nth-child(1):after {
  bottom: 82px;
}

.workexp-list:last-child::after {
  bottom: 0;
}

.workexp-list-container {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #8b9982;
  color: white;
  border-radius: 0.6rem;
}

.workexp-list-container::before {
  content: "";
  position: absolute;
  bottom: 46px;
  width: 0;
  height: 0;
  border-style: solid;
}

.workexp-list:first-child > div::before {
  bottom: 86px;
}

.workexp-list:last-child > div::before {
  bottom: 7px;
}

.workexp-list:nth-child(odd) > div {
  left: 45px;
}

.workexp-list:nth-child(odd) > div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #8b9982 transparent transparent;
}

.workexp-list:nth-child(even) > div {
  left: -466px;
}

.workexp-list:nth-child(even) > div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #8b9982;
}

.workexp-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.6rem;
}

.workexp-title{
  font-weight: bold;
  font-size: 1.2rem;
}

.company-name {
  font-size: 1.4rem;
  margin: 0;
}

/*.workexp-details {
  margin: 0;
  padding-left: 1rem;
}*/
.workexp-details{
  list-style: none;
  color: #868e96;
}

.projects-main-wrapper {
  padding: 1.6rem;
}

.projects-heading {
  font-size: 3rem;
}

.projects-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 2rem 2rem;
  gap: 2rem 2rem;
}

.project-card,
.workexp-item{
  padding: 1rem 2rem;
  box-shadow: 0px 3px 20px rgb(0 0 0 / 0.2);
  transition: transform 0.2s;
  border-radius: 0.5rem;
}

.project-card a {
  color: black;
}

.project-card:hover,
 .workexp-item:hover{
  background-color: #8b9982;
  color: white;
  box-shadow: 0px 12px 40px #8b9982;
  transform: scale(1.05);
}

.workexp-item:hover .workexp-details > li{
  color: white;
}  

.project-card:hover a {
  color: white;
}
.navbar-right li {
	display: inline-block;
	list-style: outside none none;
	margin: .5em 1em;
	padding: 0;
  }
  
  .navbar-right a {
	padding: .5em .8em;
	/* font-family: Arial, Helvetica, sans-serif; */
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: rgba(39, 35, 35, 0.5);
	text-transform: uppercase;
	position: relative;
	text-decoration: none;
	font-size: 17px;
  }
  
  .navbar-right a::before,
  .navbar-right a::after {
	content: '';
	height: 14px;
	width: 14px;
	position: absolute;
	transition: all .35s ease;
	opacity: 0;
  }
  
  .navbar-right a::before {
	content: '';
	right: 0;
	top: 0;
	border-top: 3px solid #3E8914;
	border-right: 3px solid #2E640F;
	transform: translate(-100%, 50%);
  }
  
  .navbar-right a:after {
	content: '';
	left: 0;
	bottom: 0;
	border-bottom: 3px solid #2E640F;
	border-left: 3px solid #3E8914;
	transform: translate(100%, -50%)
  }
  
  .navbar-right a:hover:before,
  .navbar-right a:hover:after{
	transform: translate(0,0);
	opacity: 1;
  }
  
  .navbar-right a:hover {
	color: #3DA35D;
  }
.education-main-wrapper {
  padding: 1.6rem;
}
.education-wrapper {
  /* display: grid; */

  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 2rem 2rem;
  gap: 2rem 2rem;
}
.education-card {
  height: 20rem;
  margin: 2rem 16rem 2rem 16rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  box-shadow: 0px 3px 20px rgb(0 0 0 / 0.2);
  transition: transform 0.2s;
}
.card-heading-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.footer {
  background: #8b9982;
  color: #fff;
  font-weight: bold;
}
.contact-main-wrapper {
	height: 38rem;
  padding: 1.6rem;
  background-color: #f3f5f8;
  /* background-color: rgb(247, 244, 244); */
  border: 0.1rem solid transparent;
}
.contact-heading {
  margin-top: 60px;
  margin-bottom: 35px;
  font-size: 30px;
  text-transform: none;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
.contact-sub-head {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 75px;
  text-transform: none;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
}
.contact-wrapper {
  display: flex;
  justify-content: center;
}

.contact-card {
  background-color: white;
  padding: 1rem 2rem;
  width: 22rem;
  height: 10rem;
  margin-left: 25px;
}
.contact-card:hover {
  margin-top: -15px;
  box-shadow: 0px 3px 0px 0px #3dc9b3;
  /* border-bottom: solid green; */
  transition: all 400ms ease-in-out;
  /* transform: scale(1.05); */
}
.contact-card-wrapper h2 {
  /* font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-weight: 700;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.contact-card-wrapper h2 span {
  display: block;
  color: #3dc9b3;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  /* margin-top: 15px; */
}
.contact-card-wrapper p {
  /* font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-weight: 700;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translate(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.scrolled.slide-left {
  animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slide-right {
  animation: slide-in-right 1s ease-in-out both;
}

.loaded.slide-up {
  animation: slide-up 1s ease-in-out both;
}

.scrolled.slide-up {
  animation: slide-up 1s ease-in-out both;
}

/* The sidepanel menu */
.sidepanel {
  height: 100%; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: white; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #8b9982;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #fff;
  color: #8b9982;
  padding: 10px 15px;
  border: none;
  display: none;
}

.openbtn:focus {
  outline: none;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #8b9982; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 50%; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  width: 3rem;
  height: 3rem;
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
/*
.workexp-item{
    border-radius: 3rem 0rem;
  }*/

@media only screen and (max-width: 576px) {
  .openbtn {
    display: inline-block;
  }

  .navbar-wrapper {
    display: none;
  }

  .greeting-container {
    flex-direction: column-reverse;
  }

  .greeting-left {
    margin-right: 0;
  }

  .contact-resume-div a {
    font-size: 0.8rem;
  }

  .greeting-right,
  .user-profile {
    margin: 0;
  }

  .skills-wrapper {
    display: block;
  }

  .skills-desc-listing {
    margin-bottom: 1.6rem;
  }

  .workexp-title {
    font-size: 1rem;
  }
  .workexp-heading span:nth-child(2){
    display: none;
  }

  .workexp-item{
    border-radius: 3rem 0rem;
  }

  .workexp-details > li{
    font-size: 0.8rem;
  }

  .contact-wrapper{
    display: block;
  }

  .contact-card{
     margin: 0 1rem 1rem 0;
     width: 100%;
     padding: 0rem;

  }
 /* .workexp > ul {
    padding-left: 0.6rem;
  }*/

 /* .workexp-list {
    padding-bottom: 2rem;
    margin: 0;
    width: 0;
  }

  .workexp-list::after {
    width: 0;
    height: 0;
  }

  .workexp-list-container {
    width: 284px;
    box-shadow: 0px 12px 40px #8b9982;
  }

  .workexp-list > div::before,
  .workexp-list:last-child > div::before {
    bottom: 86px;
  }

  .workexp-list:last-child {
    padding-bottom: 0;
  }

  .workexp-list:nth-child(even) > div {
    left: 0;
  }

  .workexp-list:nth-child(odd) > div {
    left: 0;
  }

  .workexp-list:nth-child(even) > div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #8b9982 transparent transparent;
  }

  .company-name {
    font-size: 1.2rem;
  }

  .workexp-heading > span {
    font-size: 0.8rem;
  }
*/
  .projects-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
